.accionesUsuario {
  display: flex;
  justify-content: space-around;
  border: 1px solid #ddd;
  padding: 10px 0;
  .accionUsuarioItem {
    font-size: 1.2em;
    height: 50px !important;
    background-color: rgb(74, 82, 117);
    color: white;
    padding: 5px;
    margin: 0 10px;
    &:hover {
      color: whitesmoke !important;
    }
  }
}
