.custom-menu {
  background-color: #f0f0f0;
}

.ant-menu-submenu-selected {
  background-color: #69b7ff3a;
  color: #fff;
}

//NAVBAR
.ant-scroll-number {
  box-shadow: none !important;
}

//contenedor de fecha

.fecha-container {
  span {
    display: inline-block;
    border-radius: 10px;
    padding: 0 10px;
    height: 40px;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.15em;
  }
}

//no efectos de hover

.nothover {
  &:hover {
    cursor: default !important;
    background-color: white !important;
  }
}
hr {
  margin: 0 !important;
  margin-top: 10px;
}

.custom-btn {
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: none;
  border: none;
  background-color: white;
  font-size: 1.1em;
  padding: 5px 10px !important;
  margin: 0 !important;
  span {
    margin-left: 1em;
  }
  &:hover {
    background-color: transparent !important;
  }
}
