@import "/node_modules/bootstrap/scss/bootstrap.scss";
//botones flotantes de exportación
.info {
  color: rgb(134, 134, 134);
  font-size: 0.8em !important;
  margin: 0;
}

.float-btn {
  right: 30px;
  bottom: 30px;
  width: 55px;
  height: 55px;

  &:hover {
    background-color: transparent !important;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-button {
  margin: 5px;
}

.vertical-center {
  display: flex;
  align-items: center;
}

b {
  color: #0e4d62 !important;
}

.column-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

//estilos globales para  componentes de ant desing
label {
  font-weight: bold;
  color: #186680 !important;
}

.ant-modal-title>p {
  color: #186680;
  font-size: 18px;
}

//CARD
.ant-card-head-title {
  font-size: 14px;
  font-weight: bold;
  color: #167a9b !important;
}

//TABLE
th {
  background-color: #dc3f4a !important;
  color: white !important;
  text-align: center !important;
  font-size: 14px !important;
  padding: 5px !important;
}

//SWITCH
.ant-switch.ant-switch-checked {
  background-color: #2cbdee;
}

.ant-switch {
  width: 60px;
}

//BUTTON
.ant-btn-primary {
  background-color: #26a6d1;
  font-weight: bold;
}

//RADIO BUTTON
.ant-radio-checked .ant-radio-inner {
  border-color: #dc3f4a;
  background-color: #dc3f4a;
}

//FLOAT BUTTON
.ant-float-btn-body {
  background-color: #26a6d1 !important;
  color: white !important;

  .anticon {
    color: white !important;
  }
}

.ant-float-btn-icon {
  color: white;
}

//timepicker
.ant-picker-header {
  display: flex;
  padding: 0 8px;
  color: rgba(0, 0, 0, 0.88);
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
  margin: 0 auto !important;
  width: 100%;
}

//animaciones
.to-right {
  animation: to-right 2s;
}

@keyframes to-right {
  0% {
    transform: translateX(-100%);

  }

  100% {
    transform: translateX(0%);
  }
}

.to-left {
  animation: to-left 2s;
}

@keyframes to-left {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.ant-segmented-group {
  flex-wrap: wrap;
}