@import "/node_modules/bootstrap/scss/bootstrap.scss";
//botones flotantes de exportación
.info {
  color: rgb(134, 134, 134);
}
.ant-float-btn-body {
  width: 70px !important;
  height: 70px !important;
  padding: 0 !important;
}
.ant-float-btn-group-wrap {
  width: 78px !important;
  right: 10px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-button {
  margin: 5px;
}
