p {
  span {
    margin-left: 10px !important ;
  }
}

h6 {
  margin: 10px 0;
}

.btn-container {
  display: flex;
  justify-content: start;
  Button {
    color: white;
    display: flex;
    align-items: center;
    height: 45;
    font-weight: bold;
  }
}
